<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios">COMENTARIOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<app-comentario *ngIf = "comentarios && comentarios.length > 0" [comentarios]="comentarios"></app-comentario>
</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-row align-items-center>
      <ion-col size="10">
        <ion-textarea auto-grow class="message-input" rows="1" [(ngModel)]="message" (keypress)="enviarComment($event)"></ion-textarea>
      </ion-col>
      <ion-button expand="block" fill="clear" color="primary" class="msg-btn" (click)="sendComment()">
        <ion-icon name = "paper-plane"></ion-icon>
      </ion-button>
    </ion-row>
  </ion-toolbar>
</ion-footer>
