<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>REGISTRO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registerform">
  
    <ion-item>
      <ion-label position="floating">Nombre Usuario:</ion-label>
      <ion-input type="string" formControlName="name"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Contraseña:</ion-label>
        <ion-input [type]="passwordinput" formControlName="password"></ion-input>
        <button  item-end  class="btn_eye_icon" (click) = "VistaPassword()">
          <ion-icon [name]="iconpassword"></ion-icon>
      </button>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Sexo:</ion-label>
      <ion-select placeholder="Escoje uno" cancelText="Cancel" okText="OK!" formControlName="sex">
        <ion-select-option value="hombre">Hombre</ion-select-option>
        <ion-select-option value="mujer">Mujer</ion-select-option>
        <ion-select-option value="otros">Otros</ion-select-option>
        <ion-select-option value="noespecifico">No quiero especificar</ion-select-option>
      </ion-select>

    </ion-item>
<!--
    <ion-item>
      <ion-label position="floating">Image:</ion-label>
      <ion-input type="file" accept="image/*" id="upload" [(ngModel)]="imageFilePath" (ionChange)="imageFilePath_change($event)"></ion-input>
    </ion-item>
-->
    <ion-item>
      <ion-label position="floating">Email:</ion-label>
      <ion-input type="string" formControlName="email"></ion-input>
    </ion-item>

    <input type="submit" value="Iniciar Sesión" (click) = "goLogin()"/>
    <input type="submit" value="Registrar" (click) = "register()"/>
  
   </form>
</ion-content>
