<ion-header>
  <ion-toolbar color="primary">
    <ion-title mode=ios>TORNEOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar animated placeholder="Buscar" showCancelButton="focus" (ionChange)="handleInput($event)"></ion-searchbar> 
  <div style="text-align: center;" *ngIf="cargando">
    <ion-spinner></ion-spinner>
  </div> 
  <ion-list *ngIf = "torneos && torneosSearch.length > 0; else noTorneos">
    <ion-item *ngFor="let torneo of torneosSearch" (click)="goTorneo(torneo.name)"><!-- [routerLink] = "['/torneo', torneo.name]"> -->
      <ion-avatar slot="start">
        <ion-img [src]="torneo.image"></ion-img>
      </ion-avatar>
      <ion-label>
        {{torneo.name}}
      </ion-label>
    </ion-item>
  </ion-list>
  <ng-template #noTorneos>
    <ion-text *ngIf="!cargando">
      <p class ="ion-text-center">No hay torneos disponibles</p>
    </ion-text>
  </ng-template>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button [routerLink] = "['/principal/torneos/new']">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>

</ion-content>
