<ion-header>
  <ion-toolbar color="primary">
    <ion-title mode=ios>USUARIOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar animated placeholder="Buscar" showCancelButton="focus" (ionChange)="handleInput($event)"></ion-searchbar> 
  <div style="text-align: center;" *ngIf="cargando">
    <ion-spinner></ion-spinner>
  </div>
  <ion-list *ngIf = "users && usersSearch.length > 0; else noUsers">
    <ion-item *ngFor="let user of usersSearch" [routerLink] = "['/user', user.username]">
      <ion-avatar slot="start">
        <ion-img [src]="user.image"></ion-img>
      </ion-avatar>
      <ion-label>
        {{user.username}}
      </ion-label>
    </ion-item>
  </ion-list>
  <ng-template *ngIf="!cargando" #noUsers>
    <ion-text>
      <p class ="ion-text-center">No hay usuarios</p>
    </ion-text>
  </ng-template>
</ion-content>
