<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title mode=ios>REGISTRO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <ion-card id="card">
    <ion-card-content>
      <form [formGroup]="registerform">
      
        <ion-item>
          <ion-label position="floating" color = "primary">Nombre Usuario*:</ion-label>
          <ion-input type="string" formControlName="name"></ion-input>
        </ion-item>
        <p *ngIf="registerform.controls['name'].hasError('required') && (registerform.controls['name'].dirty || registerform.controls['name'].touched || pulsado)"><ion-label color="danger">Debes rellenar este campo</ion-label></p>
        <p *ngIf="registerform.controls['name'].hasError('validUsername') && (registerform.controls['name'].dirty || registerform.controls['name'].touched || pulsado)"><ion-label color="danger">Este nombre de usuario ya existe</ion-label></p>

        <ion-item>
          <ion-label position="floating" color = "primary">Nombre*:</ion-label>
          <ion-input type="string" formControlName="nombre"></ion-input>
        </ion-item>
        <p *ngIf="!registerform.controls['nombre'].valid && (registerform.controls['nombre'].dirty || registerform.controls['nombre'].touched || pulsado)"><ion-label color="danger">Debes rellenar este campo</ion-label></p>

        <ion-item>
          <ion-label position="floating" color = "primary">Apellidos*:</ion-label>
          <ion-input type="string" formControlName="apellidos"></ion-input>
        </ion-item>
        <p *ngIf="!registerform.controls['apellidos'].valid && (registerform.controls['apellidos'].dirty || registerform.controls['apellidos'].touched || pulsado)"><ion-label color="danger">Debes rellenar este campo</ion-label></p>

    <!--
        <ion-item>
          <ion-label position="floating">Image:</ion-label>
          <ion-input type="file" accept="image/*" id="upload" [(ngModel)]="imageFilePath" (ionChange)="imageFilePath_change($event)"></ion-input>
        </ion-item>
    -->
        <ion-item>
          <ion-label position="floating" color = "primary">Email*:</ion-label>
          <ion-input type="string" formControlName="email"></ion-input>
        </ion-item>
        <p *ngIf="registerform.controls['email'].hasError('required') && (registerform.controls['email'].dirty || registerform.controls['email'].touched || pulsado)"><ion-label color="danger">Debes rellenar este campo</ion-label></p>
        <p *ngIf="!registerform.controls['email'].hasError('required') && registerform.controls['email'].hasError('email') && (registerform.controls['email'].dirty || registerform.controls['email'].touched || pulsado)"><ion-label color="danger">Debes introducir un email válido</ion-label></p>
        <p *ngIf="registerform.controls['email'].hasError('validEmail') && (registerform.controls['email'].dirty || registerform.controls['email'].touched || pulsado)"><ion-label color="danger">Este email ya está en uso</ion-label></p>

        <ion-item>
          <ion-label position="floating" color = "primary">Contraseña*:</ion-label>
            <ion-input [type]="passwordinput" formControlName="password"></ion-input>
            <button  item-end  class="btn_eye_icon" (click) = "VistaPassword()">
              <ion-icon [name]="iconpassword"></ion-icon>
          </button>
        </ion-item>
        <p *ngIf="registerform.controls['password'].hasError('required') && (registerform.controls['password'].dirty || registerform.controls['password'].touched || pulsado)"><ion-label color="danger">Debes rellenar este campo</ion-label></p>
        <p *ngIf="!registerform.controls['password'].hasError('required') && registerform.hasError('checkPassword') && (registerform.controls['password'].dirty || registerform.controls['password'].touched || pulsado)"><ion-label color="danger">Las contraseñas tienen que coincidir</ion-label></p>
        
        <ion-item>
          <ion-label position="floating" color = "primary">Confirmar Contraseña*:</ion-label>
            <ion-input [type]="confirmpasswordinput" formControlName="confirmpassword"></ion-input>
            <button  item-end  class="btn_eye_icon" (click) = "VistaConfirmPassword()">
              <ion-icon [name]="iconconfirmpassword"></ion-icon>
          </button>
        </ion-item>
        <p *ngIf="registerform.controls['confirmpassword'].hasError('required') && (registerform.controls['confirmpassword'].dirty || registerform.controls['confirmpassword'].touched || pulsado)"><ion-label color="danger">Debes rellenar este campo</ion-label></p>
        <p *ngIf="!registerform.controls['confirmpassword'].hasError('required') && registerform.hasError('checkPassword') && (registerform.controls['password'].dirty || registerform.controls['password'].touched || pulsado)"><ion-label color="danger">Las contraseñas tienen que coincidir</ion-label></p>
        
        <div class="boton">
          <ion-button color="secondary" (click) = "register()">
            REGISTRAR
          </ion-button>
          <p>
            <ion-label *ngIf = "error" color="danger"> {{error}}</ion-label>
          </p>
          
        </div>
      
      </form>

    <div class="boton">
      <ion-label>¿Ya tienes una cuenta?</ion-label><a (click)="goLogin()">¡Log in!</a>
    </div>

    <div class = "boton">
      <p>
          También te puedes Registrar con las Redes Sociales:
      </p>

      <ion-button color="danger" (click) = "registerGoogle()">
        <ion-icon name="logo-google"></ion-icon>
        GOOGLE
      </ion-button>
      <ion-button color="primary" (click)="registerFacebook()">
        <ion-icon name="logo-facebook"></ion-icon>
        FACEBOOK
      </ion-button>
    </div>
  </ion-card-content>
</ion-card>

</ion-content>
