<ion-header *ngIf="user">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/principal"></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios">Información de {{user.username}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="text-align: center;" *ngIf="cargando">
    <ion-spinner></ion-spinner>
  </div>

  <ion-grid class = "ion-no-padding" *ngIf="user">
    <ion-row>
    <ion-avatar style="width: 90px; height: 90px;">
      <ion-img id="img" [src]="user.image"></ion-img>
    </ion-avatar>
    <ion-label>
      <h1 style="margin-left: 15px; padding-top: 20px;">{{user.name}}</h1>
    </ion-label>
    </ion-row>
    <ion-row>
      <h3 style="padding-left: 5px;">INFORMACIÓN</h3>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>Correo: {{user.email}}</ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
