<ion-header>
  <ion-toolbar color="primary">
    <ion-title mode=ios>CHATS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar animated placeholder="Buscar" showCancelButton="focus" (ionChange)="handleInput($event)"></ion-searchbar>  
  <ion-list *ngIf = "chats && chatsSearch.length > 0; else noChats">
    <ion-item *ngFor="let chat of chatsSearch" [routerLink] = "['/principal/chat/chat', chat._id]">
      <!-- <ion-avatar slot="start">
        <ion-img [src]="user.image"></ion-img>
      </ion-avatar> -->
    </ion-item>
  </ion-list>
  <ng-template #noChats>
    <ion-text>
      <p class ="ion-text-center">No tienes ningún chat</p>
    </ion-text>
  </ng-template>
</ion-content>


 <!-- ESTO ES EL FOOTER DENTRO DEL CHAT
<ion-footer>
  <ion-toolbar color="light">
    <ion-row align-items-center>
      <ion-col size="10">
        <ion-textarea auto-grow class="message-input" rows="1" [(ngModel)]="message"></ion-textarea>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="block" fill="clear" color="primary" class="msg-btn"
          (click)="sendMessage()">
          <ion-icon name = "paper-plane"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer> -->


