<ion-header>
  <ion-toolbar color="primary">
    <ion-title mode=ios>CHATS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar animated placeholder="Buscar" showCancelButton="focus" (ionChange)="handleInput($event)"></ion-searchbar>  
  <div style="text-align: center;" *ngIf="cargando">
    <ion-spinner></ion-spinner>
  </div>
  <ion-list *ngIf = "chats && chatsSearch.length > 0; else noChats">
    <ion-item *ngFor="let chat of chatsSearch" (click) = "goChat(chat)">
      <ion-avatar slot="start">
        <ion-img [src]="chat.image"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2>
          {{chat.name}}
        </h2>
        <h3>
          {{chat.ultimomensaje}}
        </h3>
      </ion-label>
    </ion-item>
  </ion-list>
  <ng-template #noChats>
    <ion-text *ngIf="!cargando">
      <p class ="ion-text-center">No tienes ningún chat</p>
    </ion-text>
  </ng-template>

  <div>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button [routerLink] = "['/principal/chats/new']">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
  
</ion-content>


