<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/principal/torneos"></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios">Publicaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card id="card" *ngIf="isAdmin==true">
    <ion-card-content>
        <ion-item>
          <form [formGroup]="publicationForm">
            <ion-item>
              <ion-input type="string" formControlName="message" placeholder="Nueva publicación"></ion-input>
              <ion-button slot="end" color="primary" (click)="newPost()"><ion-icon name="open-outline"></ion-icon></ion-button>
            </ion-item>
            <p *ngIf="publicationForm.controls['message'].hasError('required') && pulsado"><ion-label color="danger">Debes rellenar este campo</ion-label></p>
  
          </form>
        </ion-item>
    </ion-card-content>
  </ion-card>

  <app-publicacion *ngIf = "publicaciones" [publicaciones]="publicaciones"></app-publicacion>
</ion-content>
