<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/principal/torneos"></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios">Vueltas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="vueltas && vueltas.length > 0; else noEmpezado">
    <ion-item>
      <ion-select interface="popover" (ionChange)="checkValue($event)" [value]="vueltas.length - 1">
        <ion-select-option *ngFor="let vuelta of vueltas; let i = index" [value]="i">{{vuelta.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-title>FECHA FIN: {{fechaFin}}</ion-title>
    <ion-list>
      <ion-item *ngFor="let grupo of grupos">
        <ion-label slot="start">GRUPO {{grupo.groupName}}</ion-label>
        <ion-button slot="end" (click)="goInformacion(grupo.groupName)">VER INFORMACIÓN</ion-button>
      </ion-item>
    </ion-list>
  </div>

  <ng-template #noEmpezado>
    <ion-text>
      <p class ="ion-text-center">El Torneo aún no ha empezado</p>
    </ion-text>
  </ng-template>

  <app-puntos-card>
    
  </app-puntos-card>

</ion-content>
