<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/principal"></ion-back-button>
    </ion-buttons>
    <ion-buttons (click) = "goConf()">
      <ion-item color="transparent">
        <ion-avatar slot = "start">
          <ion-img [src]="image"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>{{name}}</h2>
          <h3 *ngIf="linea">En línea</h3>
        </ion-label>
      </ion-item>
      <!-- <ion-icon name="ellipsis-vertical-outline"></ion-icon> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content #content [scrollEvents]="true">
  <ion-infinite-scroll position= "top" threshold="10px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-grid>
    <ion-row *ngFor="let message of messages">
      <ion-col size="9" *ngIf="message.sender && message.sender != usernameactual" class="message other-message">
        <b *ngIf="type=='grupo'">{{ message.sender }}<br></b>
        <span>{{ message.body }}</span>
        <div class="time" text-right><br>{{ message.date | date:'short' }}</div>
      </ion-col>

      <ion-col [id]="message.id"*ngIf="!message.sender" class="message conf">
        <span>{{ message.body }}</span>
        <div *ngIf="message.date" class="time" text-right><br>{{ message.date | date:'short' }}</div>
      </ion-col>
  
      <ion-col offset="3" size="9" *ngIf="message.sender && message.sender == usernameactual" class="message my-message">
        <span>{{ message.body }}</span>
        <div class="time" text-right><br>{{ message.date | date:'short' }} <ion-icon [name]="message.icon"></ion-icon></div> 
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color ="danger" (click) = "scrollToBottom()">
      <ion-icon name="arrow-down-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-row align-items-center>
      <ion-col size="10">
        <ion-textarea auto-grow class="message-input" rows="1" [(ngModel)]="message"></ion-textarea>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="block" fill="clear" color="primary" class="msg-btn"
          (click)="sendMessage()">
          <ion-icon name = "paper-plane"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>

