<ion-header>
  <ion-toolbar>
    <ion-title>USUARIOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar animated placeholder="Buscar" showCancelButton="focus" (ionChange)="handleInput($event)"></ion-searchbar>  
  <ion-list *ngIf = "users && usersSearch.length > 0; else noUsers">
    <ion-item *ngFor="let user of usersSearch" [routerLink] = "['/principal/search/user', user._id]">
      <ion-avatar slot="start">
        <ion-img [src]="user.image"></ion-img>
      </ion-avatar>
      <ion-label>
        {{user.username}}
      </ion-label>
    </ion-item>
  </ion-list>
  <ng-template #noUsers>
    <ion-text>
      <p class ="ion-text-center">No hay usuarios</p>
    </ion-text>
  </ng-template>
</ion-content>
