<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title  mode=ios *ngIf="usuario">{{usuario.username}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/principal"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="usuario">
    <ion-item>
      <ion-avatar slot = "start">
        <ion-img [src]="usuario.image"></ion-img>
      </ion-avatar>
      <ion-button slot="end" color="secondary" (click) = "modificar()">
        MODIFICAR PERFIL
      </ion-button>
    </ion-item>
    <ion-list>
      <ion-item>
        <ion-label> Nombre de Usuario: {{usuario.username}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label> Nombre Completo: {{usuario.name}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label> Email: {{usuario.email}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label> Forma de Registro: {{usuario.provider}}</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
