<ion-header>
  <ion-toolbar>
    <ion-title>setusername</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="usernameForm">
    <ion-item>
      <ion-label position="floating" color= "primary">Nombre Usuario:</ion-label>
      <ion-input type="string" formControlName="username"></ion-input>
    </ion-item>
    <p *ngIf="!usernameForm.controls['username'].valid && (usernameForm.controls['username'].dirty || usernameForm.controls['username'].touched)"><ion-label color="danger">Debes rellenar este campo</ion-label></p>
  </form>

  <ion-button color="secondary" (click) = "submitUsername()">
    DALE PA
  </ion-button>
</ion-content>
