<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title mode=ios>GRUPO 1 EA</ion-title>
    <ion-buttons slot="end" class="badge-button" (click) = "goNotificaciones()">
      <ion-icon size="large" name="notifications-outline"></ion-icon>
      <ion-badge *ngIf="numNotificaciones > 0"class="badge-one" color="danger">{{numNotificaciones}}</ion-badge>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="assets/images/EnProceso.jpg"></ion-img>

  <ion-menu side="start" menuId="first" contentId="main" type="overlay">
    <ion-header>
      <div *ngIf="usuario">
          <ion-item color="secondary">
            <ion-avatar slot = "start">
              <ion-img [src]="usuario.image"></ion-img>
            </ion-avatar>
            <ion-label>
              <h2>{{usuario.username}}</h2>
              <h3>{{usuario.name}}</h3>
            </ion-label>
          </ion-item>
      </div>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item (click) = "goPerfil()">
          <ion-button fill = "clear" expand = "full">
            Perfil
            <ion-icon slot="start" name="person"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item (click) = "goTorneos()">
          <ion-button fill = "clear" expand = "full">
          Torneos
          <ion-icon slot="start" name="trophy"></ion-icon>
        </ion-button>
        </ion-item>
        <ion-item (click) = "goPartidos()">
          <ion-button fill = "clear" expand = "full">
            Partidos
            <ion-icon slot="start" name="tennisball"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item (click) = "goAmigos()">
          <ion-button fill = "clear" expand = "full">
            Amigos
            <ion-icon slot="start" name="people"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item (click) = "goInfo()">
          <ion-button fill = "clear" expand = "full">
            Sobre Nosotros
            <ion-icon slot="start" name="information-circle"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item (click) = "logout()">
            <ion-button fill = "clear" expand = "full">
              Logout 
              <ion-icon slot="start" name="log-out"></ion-icon>
            </ion-button>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>

  <ion-button (click) = "pruebaSocket()">PRUEBA</ion-button>
</ion-content>