<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title  mode=ios>SOBRE NOSOTROS</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/principal"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-list-header>
    DESARROLLADORES DE LA APLICACIÓN
  </ion-list-header>
  <ion-item>
    <ion-avatar slot="start">
      <ion-img></ion-img>
    </ion-avatar>
    <ion-label>Carlos Vázquez Crespo</ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <ion-img src="https://lh3.googleusercontent.com/a-/AOh14Ghwas2dznHxgXrVMr_brJGEX3XW454Vl8PBmbSt-Q=s96-c"></ion-img>
    </ion-avatar>
    <ion-label>Cristian Armesto Tejedo</ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <ion-img></ion-img>
    </ion-avatar>
    <ion-label>Iván Requena García</ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <ion-img></ion-img>
    </ion-avatar>
    <ion-label>Manel Fraga Lobato</ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <ion-img></ion-img>
    </ion-avatar>
    <ion-label>Miquel Puspa Torres Campo</ion-label>
  </ion-item>
</ion-list>
</ion-content>
