<ion-content>
  <ion-item *ngFor="let comentario of comentarios">
    <ion-row>

      <ion-item>
        <ion-avatar slot="start">
          <ion-img [src]="comentario.user.image"></ion-img>
        </ion-avatar>
        <ion-label>{{comentario.user.username}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>{{getMoment(comentario)}}</ion-label>
      </ion-item> 
    </ion-row>
    
    <ion-row>
      <ion-item>
        <ion-col>
          <span><ion-label>{{comentario.comentario}}</ion-label></span>
        </ion-col>  
      </ion-item>
    </ion-row>  
   </ion-item>
</ion-content>
