<ion-content>
  
  <ion-grid fixed >
    <ion-row >
      <ion-item>
        <ion-col>

          <ion-segment scrollable >
            <ion-label>
              Jugador
            </ion-label>
          </ion-segment>

        </ion-col>
      </ion-item>
      
      <ion-item>
        <ion-col>
          <ion-segment scrollable>
            <ion-label>
              PJ
            </ion-label>
          </ion-segment>

        </ion-col>
      </ion-item>  
    </ion-row>

    
<ion-list *ngFor="let clasi of vuelta, let i = index"  >

    <ion-row >
      <ion-item>
        <ion-col>

          <ion-segment scrollable >
            <ion-label>
              {{clasi.player.username}}
            </ion-label>
          </ion-segment>

        </ion-col>
      </ion-item>
      
      <ion-item>
        <ion-col>
          <ion-segment scrollable>
            <ion-label>
              {{clasi.statistics.puntos}}
            </ion-label>
          </ion-segment>

        </ion-col>
      </ion-item>
      
  
    </ion-row>

    

    </ion-list>
  </ion-grid>

</ion-content>
