<ion-content>
  
  <ion-grid fixed scrollable  >
    <ion-row >
      
        <ion-col size="3" >

          <ion-segment scrollable >
            <ion-label>
              Jugador
            </ion-label>
          </ion-segment>

        </ion-col>
      
      
      
        <ion-col >
          <ion-segment scrollable>
            <ion-label>
              Puntos
            </ion-label>
          </ion-segment>

        </ion-col>
       
    </ion-row>

    
<ion-list *ngFor="let clasi of classification">

    <ion-row class = ion-justify-content-between>
      
        <ion-col size = "3" >

          <ion-segment scrollable >
            <ion-item>
              <ion-avatar><ion-img [src]="clasi.player.image"></ion-img></ion-avatar>
              <ion-label >
                {{clasi.player.username}}
              </ion-label>
            </ion-item>
          </ion-segment>

        </ion-col>
      
      
      
        <ion-col >
          <ion-segment scrollable>
            <ion-label>
              {{clasi.statistics.puntos}}
            </ion-label>
          </ion-segment>

        </ion-col>
      
      
  
    </ion-row>

    

    </ion-list>
  </ion-grid>

</ion-content>
