<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title  mode=ios >NOTIFICACIONES</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/principal"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf= "notifications && notifications.length > 0; else noNotifications">
    <ion-item *ngFor= "let notification of notifications" (click) = "goNotification(notification)">
      <ion-avatar slot = "start">
        <ion-img [src]="notification.image"></ion-img>
      </ion-avatar>
      <ion-label>{{notification.description}}</ion-label>
    </ion-item>
  </ion-list>
  <ng-template #noNotifications>
    <ion-text>
      <p class ="ion-text-center">No hay notificaciones pendientes</p>
    </ion-text>
  </ng-template>
</ion-content>
