<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title mode=ios>INICIAR SESIÓN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
<ion-card id="card">
  <ion-card-content>
    <ion-img style="width: 200px; height: 200px; margin-left: auto; margin-right: auto;" src="assets/images/EnProceso.jpg"></ion-img>

    <form [formGroup]="loginform">
  
      <ion-item>
        <ion-label position="floating" color= "primary">Nombre Usuario/Email:</ion-label>
        <ion-input type="string" formControlName="username"></ion-input>
      </ion-item>
      <p *ngIf="loginform.controls['username'].hasError('required') && (loginform.controls['username'].dirty || loginform.controls['username'].touched || pulsado)"><ion-label color="danger">Debes rellenar este campo</ion-label></p>
      <p *ngIf="!loginform.controls['username'].hasError('required') && loginform.controls['username'].hasError('validUsername') && (loginform.controls['username'].dirty || loginform.controls['username'].touched || pulsado)"><ion-label color="danger">Este usuario no está registrado</ion-label></p>
  
      <ion-item>
        <ion-label position="floating" color= "primary">Contraseña:</ion-label>
        <ion-input [type]="passwordinput" formControlName="password"></ion-input>
        <button item-end  class="btn_eye_icon" (click) = "VistaPassword()">
          <ion-icon [name]="iconpassword"></ion-icon>
      </button>
      </ion-item>
      <p *ngIf="loginform.controls['password'].hasError('required') && (loginform.controls['password'].dirty || loginform.controls['password'].touched || pulsado)"><ion-label color="danger">Debes rellenar este campo</ion-label></p>
      <p *ngIf="loginform.controls['password'].hasError('validUsername') && (loginform.controls['password'].dirty || loginform.controls['password'].touched || pulsado)"><ion-label color="danger">La contraseña es incorrecta</ion-label></p>
      <br>
      <div style="text-align: center;">
        <ion-button color="secondary" (click) = "login()">
          INICIAR SESIÓN
        </ion-button>
        <br>
        <p>
          <a (click)="recuperarPassword()">¿Has olvidado tu contraseña?</a>
        </p>
      </div>
  
    </form>
      <br>
      <div style="text-align: center;">
        <ion-label><h3>¿No tienes ninguna cuenta?</h3></ion-label><a (click)="goRegister()"><h2>¡Regístrate!</h2></a>
        <br>
        <h4>
          También puedes Iniciar Sesión con las Redes Sociales:
        </h4>
        <p>
        <ion-button color="danger" (click)="loginGoogle()">
          <ion-icon name="logo-google"></ion-icon>
          GOOGLE
        </ion-button>
        <ion-button color="primary" (click)="loginFacebook()">
          <ion-icon name="logo-facebook"></ion-icon>
          FACEBOOK
        </ion-button>
        </p>
      </div>
  </ion-card-content>
</ion-card>
  
</ion-content>
