<ion-header>
  <ion-toolbar color="primary">
    <ion-title mode=ios>AMIGOS</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/principal"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar animated placeholder="Buscar" showCancelButton="focus" (ionChange)="handleInput($event)"></ion-searchbar>  
  <ion-list *ngIf = "friends && friendsSearch.length > 0; else noFriends">
    <ion-item *ngFor="let friend of friendsSearch" [routerLink] = "['/principal/search/user', friend.user._id]">
      <ion-avatar slot="start">
        <ion-img [src]="friend.user.image"></ion-img>
      </ion-avatar>
      <ion-label>
        {{friend.user.username}}
      </ion-label>
    </ion-item>
  </ion-list>
  <ng-template #noFriends>
    <ion-text>
      <p class ="ion-text-center">No tienes amigos</p>
    </ion-text>
  </ng-template>
</ion-content>