<ion-tabs>
  <ion-tab-bar slot="top">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>Reglamento</ion-label>
    </ion-tab-button>
  
    <ion-tab-button tab="chats">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <ion-label>Ranking</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="torneos">
      <ion-icon name="tennisball-outline"></ion-icon>
      <ion-label>Vueltas</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

