<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/auth/registro"></ion-back-button>
    </ion-buttons>
    <ion-title mode=ios>REGISTRO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <ion-card id="card">
    <ion-card-content>
      <div *ngIf="user; else noUser">
        <ion-item>
          <ion-avatar slot = "start">
            <ion-img [src]="user.image"></ion-img>
          </ion-avatar>
          <ion-label>
            <h2>{{user.name}}</h2>
            <h3>{{user.email}}</h3>
          </ion-label>
        </ion-item>
        <form [formGroup]="usernameForm">
          <ion-item>
            <ion-label position="floating" color= "primary">Introduce un Nombre de Usuario:</ion-label>
            <ion-input type="string" formControlName="username"></ion-input>
          </ion-item>
          <p *ngIf="usernameForm.controls['username'].hasError('required') && (usernameForm.controls['username'].dirty || usernameForm.controls['username'].touched || pulsado)"><ion-label color="danger">Debes rellenar este campo</ion-label></p>
          <p *ngIf="!usernameForm.controls['username'].hasError('required') && usernameForm.controls['username'].hasError('validUsername') && (usernameForm.controls['username'].dirty || usernameForm.controls['username'].touched || pulsado)"><ion-label color="danger">Este nombre de usuario ya existe</ion-label></p>
          
          <ion-label>PRIVACIDAD DE LA CUENTA:</ion-label>
          <ion-item>
            <ion-checkbox formControlName="private" slot="start"></ion-checkbox>
            <ion-label color="primary">Solo mis amigos verán mis publicaciones</ion-label>
          </ion-item>

        </form>
        <div style="text-align: center;">
          <ion-button color="secondary" (click) = "submitUsername()">
            REGISTRAR
          </ion-button>
          <p>
            <ion-label>¿Ya tienes una cuenta?</ion-label><a (click)="goLogin()">¡Log in!</a>
          </p>
        </div>
      </div>
      <ng-template #noUser>
        <div style="text-align: center;">
          <ion-label color="danger">Parece que has entrado a esta página de forma incorrecta. Esta página solo es accesible si intentas registrarte con una Red Social</ion-label>
          <p>
            <ion-label color="danger">Si te estás intentando registrar con una red social y sigue apareciendo el mensaje anterior, ves a la página de login, refresca la página y vuelve a intentarlo</ion-label>
          </p>
          <p>
            <ion-button color="secondary">
              <ion-back-button defaultHref="/auth/registro"></ion-back-button>
            </ion-button>
          </p>
        </div>
      </ng-template>
    </ion-card-content>
  </ion-card>
</ion-content>
