<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title mode=ios>REGISTRO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <ion-card id="card">
    <ion-card-content>
      <div *ngIf="correcto">
        <ion-item>
          <ion-avatar slot = "start">
            <ion-img [src]="user.image"></ion-img>
          </ion-avatar>
          <ion-label>
            <h2>{{user.name}}</h2>
            <h3>{{user.email}}</h3>
          </ion-label>
        </ion-item>
        <form [formGroup]="usernameForm" >
          <ion-item>
            <ion-label position="floating" color= "primary">Introduce un Nombre de Usuario:</ion-label>
            <ion-input type="string" formControlName="username"></ion-input>
          </ion-item>
          <p *ngIf="usernameForm.controls['username'].hasError('required') && (usernameForm.controls['username'].dirty || usernameForm.controls['username'].touched || pulsado)"><ion-label color="danger">Debes rellenar este campo</ion-label></p>
          <p *ngIf="usernameForm.controls['username'].hasError('validUsername') && (usernameForm.controls['username'].dirty || usernameForm.controls['username'].touched || pulsado)"><ion-label color="danger">Este nombre de usuario ya existe</ion-label></p>
        </form>
        <div class="boton">
          <ion-button color="secondary" (click) = "submitUsername()">
            REGISTRAR
          </ion-button>
          <p>
            <ion-label>¿Ya tienes una cuenta?</ion-label><a (click)="goLogin()">¡Logueate!</a>
          </p>
        </div>
      </div>
      <div *ngIf = "!correcto">
        <div class="boton">
          <ion-button color="secondary" (click) = "goLogin()">
            VOLVER A LA PÁGINA DE INICIO
          </ion-button>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
