<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/principal/torneos"></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios">Partidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let partido of partidos, let i = index">
    <ion-item>
      <ion-col>
        <ion-label style="font-weight: bold;" *ngIf="partido.jugadores.pareja1.ganadores">{{partido.jugadores.pareja1[0].username}}/<br>{{partido.jugadores.pareja1[1].username}}</ion-label>
        <ion-label *ngIf="!partido.jugadores.pareja1.ganadores">{{partido.jugadores.pareja1[0].username}}/<br>{{partido.jugadores.pareja1[1].username}}</ion-label>
      </ion-col>
      <ion-col>
        <ion-label *ngIf="!partido.edit; else editar">{{partido.resultado}}</ion-label>
      </ion-col>
      <ng-template #editar>
        <ion-row>
        <ion-input type="number" [(ngModel)]="juego1"></ion-input>-<ion-input type="number" [(ngModel)]="juego2"></ion-input><ion-input type="number" [(ngModel)]="juego3">
        </ion-input>-<ion-input type="number" [(ngModel)]="juego4"></ion-input><ion-input type="number" [(ngModel)]="juego5"></ion-input>-<ion-input type="number" [(ngModel)]="juego6"></ion-input>
      </ion-row>
      </ng-template>
      <ion-label style="font-weight: bold; color: aqua;" *ngIf="partido.jugadores.pareja2.ganadores">{{partido.jugadores.pareja2[0].username}}/<br>{{partido.jugadores.pareja2[1].username}}</ion-label>
      <ion-label *ngIf="!partido.jugadores.pareja2.ganadores">{{partido.jugadores.pareja2[0].username}}/<br>{{partido.jugadores.pareja2[1].username}}</ion-label>
      <ion-button *ngIf="participa && !partido.edit" (click)="partido.edit=true">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="participa && partido.edit" (click)="enviar(i)">
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
