<ion-header *ngIf="torneo">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/principal/torneos"></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios">{{torneo.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="torneo">
  <ion-grid class = "ion-no-padding">
    <ion-row>
      <ion-col class = "ion-no-padding">
      <!-- <ion-avatar>
        <ion-img [src]="torneo.image"></ion-img>
      </ion-avatar> -->
      </ion-col>
    </ion-row>
    <ion-row *ngIf="isAdmin==true">
      <ion-col style="text-align: start;">
        <h3> {{torneo.name}}</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-img [src]="torneo.image"></ion-img>
    </ion-row>
    <ion-row>
      <h4>INFORMACIÓN</h4>
    </ion-row>
    <ion-row>
      <ion-col>Tipo: {{torneo.type}}</ion-col>
      <ion-col>Nº jugadores máximo: {{torneo.maxPlayers}}</ion-col>
      <ion-col>Nº vueltas: {{torneo.numRondas}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Fecha inicio: {{this.fechaInicio[0]}}</ion-col>
      <ion-col>Fin inscripcion: {{this.finInscripcion[0]}}</ion-col>
    </ion-row>
    <ion-row *ngIf="torneo.description!=null"><h5>DESCRIPTION:</h5> <br> {{torneo.description}}</ion-row>
    <ion-row>
      <h4> JUGADORES</h4>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list *ngIf="players && players.length > 0; else noPlayers">
          <ion-item *ngFor="let player of players" [routerLink] = "['/user', player.username]">
            <ion-avatar slot="start">
              <ion-img [src]="player.image"></ion-img>
            </ion-avatar>
            <ion-label>{{player.username}}</ion-label>
          </ion-item>
        </ion-list>
        <ng-template #noPlayers>
          <ion-text>
            <p class ="ion-text-center">Aún no se ha unido nadie</p>
          </ion-text>
        </ng-template>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div style="text-align: center;">
          <ion-button *ngIf="joined==false" (click)="joinTorneo()" [disabled]="cola">
            <ion-label>UNIRTE</ion-label>
          </ion-button>
          <ion-button *ngIf="joined==true" (click)="leaveTorneo()">
            <ion-label>ABANDONAR TORNEO</ion-label>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row ><h5>UBICACIÓN</h5>
    </ion-row>
    <ion-row >
      <app-mapa [ubicacion]="ubicacion"></app-mapa>
    </ion-row>
  </ion-grid>
</ion-content>